@tailwind base;
@tailwind components;
@tailwind utilities;

#emojiButton {
    position: relative;
    background-color: white;
    transition: background-color 0.3s;
  }
  
  #emojiButton:hover {
    background-color: rgba(189, 186, 186, 0.900);
  }
  
  #emojiButton:hover::after {
    content: "Emoji'yi kopyala";
    color: rgb(129, 128, 128);
    position: absolute;
    top: 20%; 
    right: 0;
    font-size: 12px;
    padding: 5px;
  }